#contenedor-contacto {@include contenedores;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: "header"
 "formulario"
 "mapa"
 "footer"; 
 .formulario {
    background-color: none;
    display: flex;
    flex-direction: row;
      flex-basis: 95%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      grid-area: formulario;
      align-items: center;
      img {width: 40rem;
    transform: translateX(-4rem);}}
  .ubicacion {background-color: none;
      display: block;
      text-align: center;
      width: 90%;}
  .google-maps {background-color: none;
      text-align: center;
      grid-area: mapa;
      iframe {width: 85rem;
          height: 30rem;
          margin: 2rem;
          border-radius: 3rem;}}
    .form {transform: translateX(-4rem);
    width: 35rem;
    display: inline-block;
        .contact1-form-title{
        display: block;
        font-size: 24px;
        color: black;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 44px;}
        .wrap-input1 {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-bottom: 20px; 
        .input1 {
            display: block;
            width: 100%;
            background: #f2e70f;
            font-size: 15px;
            line-height: 1.5;
            color: #666666; }}
        .contact1-form-btn {
            border: solid black 0px;
            }
        .validate-input {
            position: relative;
            input { border-radius: 25px;
                min-height: 30px;
                padding: 20px;
                outline: none;
                border: none;
            .shadow-input1 {
                border-radius: 25px; }}}
        textarea {
            outline: none;
            border: none;
            border-color:none;
            min-height: 200px;
            padding: 20px;
            border-radius: 25px;
            &focus {border-color:none;}
            .input1 {height: 50px;
                border-radius: 25px;
                padding: 20px 30px;
                min-height: 150px;
                border-radius: 25px;
                padding: 12px 30px;
                border-radius: 25px;
                &focus {border-color:none;}}}
        button {outline: none;
            height: 50px;
            padding: 15px;
            border: transparent black 1px;
            border-radius: 25px;
            background: #f2e70f;
            text-align: center; }}
        }






















