/* RESPONSIVE */
/* SMALL SCREEN PHONES */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    img {
      max-width: 100%;
      height: auto; }
    video {
      max-width: 100%;
      height: auto; }
    body {
      margin: 0; }
    .index {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background-color: none;
      height: 90rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .navbar-toggler-icon {
      font-size: 3rem; }
    .index img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
    .perfiles-boa img {
      padding: 1rem; }
    .tabla-aliados img {
      padding: 2rem; }
    .header {
      display: block; }
    .header a {
      font-size: 3rem;
      padding: 1rem; }
    .header menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header__logo img {
      width: 50%!important;
      display: block;
      margin: auto; }
    nav li {
      display: block;
      width: 100%;
      margin: auto; }
    h1 {
      width: 100%;
      font-size: 3rem; }
    h5 {
      width: 100%;
      font-size: 3rem; }
    .footer {
      display: block;
      margin: auto; }
    .perfiles-boa img {
      width: 100%; }
    .boa-workspaces img {
      width: 100%;
      height: auto;
      display: block;
      margin: auto;
      padding: 2rem; }
    .footer__copyright {
      width: 100%; }
    .footer__redes i {
      font-size: 5rem!important; }
    .footer__copyright p {
      font-size: 2rem; }
    .footer__redes {
      width: 100%!important;
      padding: 1rem; }
    .perfiles-boa {background-color:$white!important;}
    .recuadro-1 img {margin: 0rem;
      width: 40rem;
      height: auto;
      background-color: $grey!important;}
    .recuadro-2 img {margin: 0rem;
      width: 40rem;
      height: auto;
      background-color: $yellow!important;}
    .recuadro-2 {background-color: $yellow!important;
      padding: 2rem;
      border-radius: 2rem;
      margin: 0rem 0rem 1rem;}
    .recuadro-1 {background-color: $grey!important;
      padding: 2rem;
      border-radius: 2rem;
      margin: 0rem 0rem 1rem;}
    .bios-boa {
      display: block;
      margin: auto; }
    .bio-1 {
      width: 100%;
      background-color: $grey!important;
      width: 100%;
    padding: 4rem;
    border-radius: 1rem;
    margin: 0rem 0rem 0rem; }
    .bio-2 {
      width: 100%;
      background-color: $yellow!important;
      transform: translateY(-2rem)!important ;
      width: 100%;
      margin: 0rem 0rem 0rem;
      padding: 4rem;
      border-radius: 1rem; }
    .bios-boa p {
      width: 100%;
      font-size: 2rem;
    margin: 0rem; }
    .perfiles-boa .col-sm {
      width: 100%; }
    .perfiles-individuales {background-color:#d5d5d5!important;
      margin: auto;
    display: block;
  height: auto;}
    .galeria-imagenes {
      background-color: #d5d5d5;
      width: 90%;
      margin: auto;
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-items: center;
      -ms-grid-columns: (1fr)[1];
          grid-template-columns: repeat(1, 1fr);
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      -webkit-transform: translateY(-5rem);
              transform: translateY(-5rem); }
    .imagen img {
      width: 30rem;
      padding: 1.5rem;
      border-radius: 1rem; }
    .imagen img:hover {
      padding: 1rem; }
    .card-body h5 {
      font-size: 3.5rem; }
    .card-body p {
      font-size: 2rem; }
    .card-body a {
      font-size: 2rem; }
    .caja-servicios ul {
      width: 100%; }
    .caja-servicios p {
      font-size: 2rem;
      width: 100%; }
    .listado-servicios li {
      font-size: 2rem; }
    .perfiles-aliados {
      background-color: #d5d5d5;
      display: block;
      width: 80%;
      height: auto; }
    .perfiles-aliados .card h5 {
      font-size: 1.2rem; }
    .perfiles-aliados .card {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 1rem;
      height: auto;
      width: 25rem;
      border: none; }
    .formulario {
      background-color: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column!important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: formulario;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .formulario img {width: 60rem!important;}
    .form {width: 60rem!important;}
    input.input1 {
      height: 120px;
      border-radius: 25px;
      padding: 0 30px; }
    input.input1 + .shadow-input1 {
      border-radius: 25px; }
    textarea.input1 {
      min-height: 150px;
      border-radius: 25px;
      padding: 12px 30px; }
    textarea.input1 + .shadow-input1 {
      border-radius: 25px; }
      .wrap-input1 {
      position: relative;
      width: 100%;
      z-index: 1;
      margin-bottom: 20px; }
    .input1 {
      display: block;
      width: 100%;
      background: #f2e70f;
      font-size: 15px;
      line-height: 1.5;
      color: #666666; }
    .validate-input {
      position: relative; }
    .formulario img {
      width: 80rem; }
    .formulario .form {
      width: 70rem; }
    .formulario .form .input1 {
      font-size: 4rem!important;
      padding: 1rem; }
    .contact1-form-title {
      font-size: 4rem!important;}
    .contact1-form-btn {height: 100px!important;
      border: solid black 0px;}
    .formulario .form .contact1-form-btn {
      font-size: 2rem!important;
      padding: 1rem!important; }
    .formulario .form .contact1-form-btn span {
      padding: 1rem; 
    font-size: 3rem!important;}
    .ubicacion {
      background-color: none;
      display: block;
      text-align: center;
      margin-top: 5rem;
      width: 90%; }
    .ubicacion h2 {
      font-size: 5rem; }
    .ubicacion p {
      font-size: 3rem; }
    .google-maps iframe {
      width: 80rem;
      height: 90rem;
      margin: 2rem;
      border-radius: 3rem;}
    .error img {width: 25%!important;}
    .error-message p {font-size: 2rem!important;}
    .error-message h1 {font-size: 8rem!important;
      margin: 6rem 0rem 0rem!important;}
    .error-message img {width: 65rem!important;
    margin: 8rem 0rem 5rem!important;}}

    /* celulares grandes */
    @media only screen and (min-device-width: 480px) and (max-device-width: 768px)
    { img {
      max-width: 100%;
      height: auto; }
    video {
      max-width: 100%;
      height: auto; }
    body {
      margin: 0; }
    .index {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background-color: none;
      height: 90rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .navbar-toggler-icon {
      font-size: 3rem; }
    .index img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
    .perfiles-boa img {
      padding: 1rem; }
    .tabla-aliados img {
      padding: 2rem; }
    .header {
      display: block; }
    .header a {
      font-size: 3rem;
      padding: 1rem; }
    .header menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .header__logo img {
      width: 50%!important;
      display: block;
      margin: auto; }
    nav li {
      display: block;
      width: 100%;
      margin: auto; }
    h1 {
      width: 100%;
      font-size: 3rem; }
    h5 {
      width: 100%;
      font-size: 3rem; }
    .footer {
      display: block;
      margin: auto; }
    .perfiles-boa img {
      width: 100%; }
    .boa-workspaces img {
      width: 100%;
      height: auto;
      display: block;
      margin: auto;
      padding: 2rem; }
    .footer__copyright {
      width: 100%; }
    .footer__redes i {
      font-size: 5rem!important; }
    .footer__copyright p {
      font-size: 2rem; }
    .footer__redes {
      width: 100%!important;
      padding: 1rem; }
      .perfiles-boa {background-color:$white!important;}
      .recuadro-1 img {margin: 0rem;
        width: 40rem;
        height: auto;
        background-color: $grey!important;}
      .recuadro-2 img {margin: 0rem;
        width: 40rem;
        height: auto;
        background-color: $yellow!important;}
      .recuadro-2 {background-color: $yellow!important;
        padding: 2rem;
        border-radius: 2rem;
        margin: 0rem 0rem 1rem;}
      .recuadro-1 {background-color: $grey!important;
        padding: 2rem;
        border-radius: 2rem;
        margin: 0rem 0rem 1rem;}
      .bios-boa {
        display: block;
        margin: auto; }
      .bio-1 {
        width: 100%;
        background-color: $grey!important;
        width: 100%;
      padding: 4rem;
      border-radius: 1rem;
      margin: 0rem 0rem 0rem; }
      .bio-2 {
        width: 100%;
        background-color: $yellow!important;
        transform: translateY(-2rem)!important ;
        width: 100%;
        margin: 0rem 0rem 0rem;
        padding: 4rem;
        border-radius: 1rem; }
      .bios-boa p {
        width: 100%;
        font-size: 2rem;
      margin: 0rem; }
      .perfiles-boa .col-sm {
        width: 100%; }
      .perfiles-individuales {background-color:#d5d5d5!important;
        margin: auto;
      display: block;
    height: auto;}
    .galeria-imagenes {
      background-color: #d5d5d5;
      width: 90%;
      margin: auto;
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-items: center;
      -ms-grid-columns: (1fr)[1];
          grid-template-columns: repeat(1, 1fr);
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      -webkit-transform: translateY(-5rem);
              transform: translateY(-5rem); }
    .imagen img {
      width: 30rem;
      padding: 1.5rem;
      border-radius: 1rem; }
    .imagen img:hover {
      padding: 1rem; }
    .card-body h5 {
      font-size: 3.5rem; }
    .card-body p {
      font-size: 2rem; }
    .card-body a {
      font-size: 2rem; }
    .caja-servicios ul {
      width: 100%; }
    .caja-servicios p {
      font-size: 2rem;
      width: 100%; }
    .listado-servicios li {
      font-size: 2rem; }
    .perfiles-aliados {
      background-color: #d5d5d5;
      display: block;
      width: 80%;
      height: auto; }
    .perfiles-aliados .card h5 {
      font-size: 1.2rem; }
    .perfiles-aliados .card {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 1rem;
      height: auto;
      width: 25rem;
      border: none; }
    .formulario {
      background-color: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column!important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: formulario;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .formulario img {width: 60rem!important;}
    .form {width: 60rem!important;}
    input.input1 {
      height: 120px;
      border-radius: 25px;
      padding: 0 30px; }
    input.input1 + .shadow-input1 {
      border-radius: 25px; }
    textarea.input1 {
      min-height: 150px;
      border-radius: 25px;
      padding: 12px 30px; }
    textarea.input1 + .shadow-input1 {
      border-radius: 25px; }
      .wrap-input1 {
      position: relative;
      width: 100%;
      z-index: 1;
      margin-bottom: 20px; }
    .input1 {
      display: block;
      width: 100%;
      background: #f2e70f;
      font-size: 15px;
      line-height: 1.5;
      color: #666666; }
    .validate-input {
      position: relative; }
    .formulario img {
      width: 80rem; }
    .formulario .form {
      width: 70rem; }
    .formulario .form .input1 {
      font-size: 4rem!important;
      padding: 1rem; }
    .contact1-form-title {
      font-size: 4rem!important;}
    .contact1-form-btn {height: 100px!important;
      border: solid black 0px;}
    .formulario .form .contact1-form-btn {
      font-size: 2rem!important;
      padding: 1rem!important; }
    .formulario .form .contact1-form-btn span {
      padding: 1rem; 
    font-size: 3rem!important;}
    .ubicacion {
      background-color: none;
      display: block;
      text-align: center;
      margin-top: 5rem;
      width: 90%; }
    .ubicacion h2 {
      font-size: 5rem; }
    .ubicacion p {
      font-size: 3rem; }
    .google-maps iframe {
      width: 80rem;
      height: 90rem;
      margin: 2rem;
      border-radius: 3rem;}
    .error img {width: 25%!important;}
    .error-message p {font-size: 2rem!important;}
    .error-message h1 {font-size: 8rem!important;
      margin: 6rem 0rem 0rem!important;}
    .error-message img {width: 65rem!important;
    margin: 8rem 0rem 5rem!important;}
}

    
  
  /* ipads y tablets */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footer p {
      font-size: 1.5rem; }
    .footer__redes i {
      font-size: 2.5rem; }
    h1 {
      font-size: 2.5rem; }
    .index img {
      -ms-flex-item-align: center!important;
          -ms-grid-row-align: center!important;
          align-self: center!important;
        margin: 15rem 0rem 15rem!important; }
    .galeria-imagenes {
      background-color: #d5d5d5;
      width: 90%;
      margin: auto;
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-items: center;
      -ms-grid-columns: (1fr)[3];
          grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: auto;
          grid-template-rows: auto;
      -webkit-transform: translateY(-5rem);
              transform: translateY(-5rem); }
    .error img {width: 25%!important;}
    .error-message p {font-size: 1.5rem!important;
      margin: 1rem 0rem 1rem!important;}
    .error-message h1 {font-size: 5rem!important;
      margin: 1em 0rem 0rem!important;}
    .error-message img {width: 45rem!important;
    margin: 5rem 0rem 5rem!important;}}

/* pequeños monitores */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1670px) {
  .footer p {
    font-size: 1.5rem; }
  .footer__redes i {
    font-size: 2.5rem; }
  h1 {
    font-size: 2.5rem; }
  .index img {
    -ms-flex-item-align: center!important;
        -ms-grid-row-align: center!important;
        align-self: center!important;
      margin: 15rem 0rem 15rem!important; }
  .galeria-imagenes {
    background-color: #d5d5d5;
    width: 90%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem); }
  .error img {width: 25%!important;}
  .error-message p {font-size: 1.5rem!important;
    margin: 1rem 0rem 1rem!important;}
  .error-message h1 {font-size: 5rem!important;
    margin: 1em 0rem 0rem!important;}
  .error-message img {width: 45rem!important;
  margin: 5rem 0rem 5rem!important;}
}
