#contenedor-proyectos {
    @include contenedores;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: "header"
   "titulo"
   "galeria"
   "footer";}
  
  /*titulo catalogo*/

  .titulo-catalogo {@include encabezado-contenedor;
    grid-area: titulo;
    h1 {@include encabezado-titulo;}}
  
  .bloque-yellow-titulo {@include bloque-yellow (7rem);}
  
  .bloque-yellow-titulo h2 {
  font-size: 3rem;
  font-weight: lighter;
  -webkit-transform: translateY(-4.6rem);
          transform: translateY(-4.6rem);}
  
  /*catalogo proyectos*/
  .galeria-imagenes {
    background-color: #d5d5d5;
    width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.7rem 5rem 1.7rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 3fr);
    grid-template-rows: auto;
    grid-area: galeria;
    transform: translateY(-5rem);
    @include galeria-prefix; }
  
    
  
  .imagen,
  .imagen * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center; }
  
  .imagen {
    position: relative;
    display: -ms-inline-grid;
    display: inline-grid;
    justify-content: center;
    height: auto;
    img {width: 17rem;
      padding: 1.5rem;
      border-radius: 1rem;
      -webkit-filter: invert(80%);
              filter: invert(80%);}}
  
  
  .imagen .imagen-layer_bottom {
    display: block; }
  
  .imagen .imagen-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
  
  .imagen:hover .imagen-layer_top,
  .imagen.active .imagen-layer_top {
    opacity: 1; }
  
  .imagen .imagen-text {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  .imagen .imagen-text_mobile {
    font-size: 15px;
    border-top: 1px solid #b3b3b3;
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none; }
  
  .imagen.active .imagen-text_mobile {
    display: block; }


  .card-body {
    background-color: black;
    width: 100%;
    height: auto;
    h5 {font-size: $tipografia-s-titulos;
      font-family: $tipografia-titulos;}
    a {background-color: $yellow;
      color: black;
    &:link, &:visited {background-color: $yellow;}
    &:hover {background-color: $yellow;
        color: black;}
    &:active {background-color: $white;
        color: black;}}}